body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.block {
    padding: 1rem;
    border: 1px solid gray;
    background-color: bisque;
    margin: -1rem;
}